.css-1t6c9ts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end!important;
}

.css-h7cdpm-MuiTypography-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.logo-font {
    display: contents!important;
    justify-items: start!important;
    font-size: 24px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: static;
    background-color: #171717!important;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .logo-font {
      display: none!important;
    }
  }

.right-slam-logo {
    display: flex;
    align-items: center;
}

.css-mrp0bo-MuiButtonBase-root-MuiButton-root {
    font-size: 16px!important;
    padding: 11px 22px!important;
}